.mode{
 width: 75px;
 height: 75px;

 border-radius: 12px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap:1rem;

}
.slot-page{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap:2rem;
 padding: 4rem 2rem;
 /* background-color: aqua; */
}
.slot-selection{
 width: 80%;
 display: flex;
gap:3rem;
flex-direction: column;
}
.mode-opt{
 display: flex;
 justify-content: center;
 align-items: center;
 gap:2rem;
}
.slots-list{
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
 gap: 1rem;
}
.slots{
 display: flex;
 flex-direction: row;
gap: 2rem;
 /* background-color: aqua; */

}
.slot{


 display: flex;
 flex-direction: column;
gap:1rem;
}
.slot-btn{
 border:1px solid black;
 border-radius: 12px;
 padding:0.5rem 1rem;
}
.slot-list{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap:1rem;
 
}

.filter{
 display: flex;
 flex-direction: column;
 gap:2rem;
}
.filter div{
 display: flex;
 flex-direction: row;
 gap: 4rem;
 align-items: center;
 justify-content: center;
}
.filter div button{
 padding: 0.5rem;
 width: 15%;
 border-radius: 25px;
 border:1px solid black
}

.in-person{
 background-color: #1F9FE6;
}

.slot-booking-btn{
 width: 50%;
 border-radius: 5px;
 border:none;
 padding: 10px 10px;
}
.calender-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap:2rem;
}