.not-found-container{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 text-align: center;
}
.not-found-wrapper{
 /* background-color: aqua; */
}
.error-btn{
 padding: 1rem  ;
 border-radius: 25px;
 border: none;
 background-color: #1F86D0;
 color: white;
}