.service-card{
 background:linear-gradient(#0093FE,#005BB0);
 width: 300px;
 height: 450px;
 border-radius: 14px;
 display: flex;
 flex-direction: column;
 align-items: center;
 /* justify-content: center; */
 gap: 1rem;
 color: white;
 padding: 3rem;
}
.duration-option{
 display: flex;
 flex-direction: row;
}
.duration{
 list-style: none;
border: 1px solid #FFFFFF4D ;
 padding: 0.5rem 1rem;
 border-radius: 25px;
}

ul{
 display: flex;
 gap: 0.5rem;
 flex-direction: column;
}
li{
 /* list-style: none; */
 
}
.service-btn{
 padding:1rem;
 width: 100%;
 border-radius: 25px;
 border-style: none;
}